Source: ros-foxy-xacro-live
Section: misc
Priority: optional
Maintainer: Mateus Amarante <mateus.amarujo@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest, ros-foxy-ament-cmake, ros-foxy-ament-copyright, ros-foxy-ament-flake8, ros-foxy-ament-pep257, ros-foxy-ament-xmllint, ros-foxy-launch-testing, ros-foxy-ros-workspace, python3-all, python3-setuptools
Homepage: 
Standards-Version: 3.9.2

Package: ros-foxy-xacro-live
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-watchdog, ros-foxy-joint-state-publisher-gui, ros-foxy-launch, ros-foxy-launch-ros, ros-foxy-rcl-interfaces, ros-foxy-rclpy, ros-foxy-robot-state-publisher, ros-foxy-rviz2, ros-foxy-xacro, ros-foxy-ros-workspace
Description: Tool to update the robot_description dinamically from updates on a target xacro file
